{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Entradas</li>
{% endblock breadcrumb %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse bg-dark text-white">
        <tr>
            <th>Entrada</th>
            <th>Descrição</th>
            <th>Modelo</th>
            <th>Problemas</th>
        </tr>
        </thead>
        <tbody>
        {% for entrada in entradas %}
        <tr>
            <td>
                <a href="{% url 'list_entradas' entrada.pk %}"> {{ entrada.pk }}</a>
                <small class="text-muted d-block">{{ entrada.equipamento.tombamento }}</small>
            </td>
            <td class="align-middle">{{ entrada.equipamento.descricao }}</td>
            <td class="align-middle">{{ entrada.equipamento.modelo }}</td>
            <td class="align-middle">{{ entrada.problemas }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock content %}